* {
  margin: 0;
  padding: 0;
}
.cliarfix:before,
.cliarfix:after {
  content: " ";
  display: table;
}
.cliarfix:after {
  clear: both;
}
#all-lag {
  font-size: 20px;
}
.choose-len {
  font-size: 25px;
  padding: 0 20px;
}
.choose-len h3 {
  margin-top: 0;
}
.choose-len button {
  border-radius: 5px;
  width: 80px;
}
.choose-len-wrap {
  text-align: center;
}
.choose-len-wrap i {
  color: red;
  opacity: 0;
}
.del {
  background-color: white;
  color: red;
}
.del:hover {
  cursor: pointer;
}
#enter-diam {
  background-color: transparent;
  border: none;
}
.error {
  background-color: white;
  border: 3px solid red;
  color: red;
  display: none;
  font-size: 20px;
  position: fixed;
}
h3 {
  margin: 0;
  text-align: center;
}
label {
  margin-right: 20px;
}
.left {
  float: left;
}
.max-val {
  font-size: 16px;
}
.num {
  font-weight: bold;
  font-size: 20px;
}
.param {
  display: inline-block;
  font-size: 20px;
  width: 90px;
}
.right {
  float: right;
}
.submit {
  text-align: center;
}
.submit button {
  font-size: 20px;
}
.table {
  text-align: center;
}
.table-button {
  background-color: #28b4cc;
}
.total-val {
  text-align: center;
}
.total-val input {
  width: 100%;
  text-align: center;
}
#val {
  width: 100px;
}
.well-done {
  background-color: white;
  border: 3px solid green;
  color: green;
  display: none;
  font-size: 20px;
  position: fixed;
}
.wrapper {
  background-color: #28b4cc;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  max-width: 320px;
}
